.enum-field {
    display: flex;
    align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: normal;
	text-align: left;
	margin: 5px 0;
}

.enum-field .dropdown {
	width: 60%;
	flex: 0 0 auto;
	margin-left: 5px;
    background: white;
	border-radius: 0;
}
