.power-panel {
	display: block;
}

.power-panel .top-line {
	display: flex;
	align-items: center;
}

.power-panel .power-icon {
	height: 16px;
	width: 16px;
	margin-right: 4px;

	img {
		width: 100%;
		height: 100%;
	}
}

.power-panel .description,
.power-panel .content {
	padding-left: 20px;
}

.power-editor-panel,
.aura-editor-panel,
.regeneration-editor-panel {
	flex: 1 1 0;
}
