.encounter-stat-block {
	background-color: var(--encounter-background);

	.main-header {
		background-color: var(--encounter);
		color: white;
	}

	.row {
		display: flex;
		flex-direction: row;

		.cell {
			flex: 1 1 0;

			&.wide {
				flex: 2 2 0;
			}

			&.right {
				text-align: right;
			}

			&.big {
				font-size: 22px;
				font-weight: 700;
			}
		}
	}

	.subheading {
		background-color: var(--encounter-heading);
		padding: 2px 10px;
		text-transform: uppercase;
		font-weight: 700;
	}

	.wave-section {
		border: 2px solid var(--encounter-heading);
	}

	.slot-section {
		padding: 0 5px;
	}
}
