.stat-block {
	background-color: rgb(231, 228, 209);

	.row {
		display: flex;
		flex-direction: row;

		&.monster-top-section {
			background-color: rgb(74, 82, 49);
			color: white;
		}

		&.subheading {
			background-color: rgb(106, 112, 79);
			color: white;
			padding: 5px 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		&.dark {
			background-color: rgb(193, 192, 174);
		}

		&.vcenter {
			align-items: center;
		}

		.cell {
			flex: 1 1 0;

			&.wide {
				flex: 2 2 0;
			}

			&.right {
				text-align: right;
			}

			&.big {
				font-size: 21px;
				font-weight: bold;
			}
		}
	}

	.damage-mods-editor-panel .damage-mod,
	.power-editor-panel {
		border: 2px solid black;
		padding: 0 8px;
		margin: 10px 0;
	}
}
