.stat-block {
	background-color: rgb(231, 228, 209);
}

.stat-block .row {
	display: flex;
	flex-direction: row;
}

.stat-block .row.monster-top-section {
	background-color: rgb(74, 82, 49);
	color: white;
}

.stat-block .row.subheading {
	background-color: rgb(106, 112, 79);
	color: white;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.stat-block .row.dark {
	background-color: rgb(193, 192, 174);
}

.stat-block .row.vcenter {
	align-items: center;
}

.stat-block .row .cell {
	flex: 1 1 0;
}

.stat-block .row .cell.two {
	flex: 2 2 0;
}

.stat-block .row .cell.center {
	text-align: center;
}

.stat-block .row .cell.right {
	text-align: right;
}

.stat-block .row .cell.big {
	font-size: 1.3rem;
	font-weight: bold;
}

.stat-block .level-role-editor-panel,
.stat-block .phenotype-editor-panel,
.stat-block .damage-mods-editor-panel,
.stat-block .defences-editor-panel {
	flex: 1 1 0;
}
