.bar-chart-panel {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 15px 10px 5px 10px;

	.bars {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.column {
			flex: 1 1 0;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			height: 60px;

			&:hover {
				.top {
					background-color: #f9f9f9;
				}
			}

			.top {
				background-color: white;
			}

			.bar {
				margin: 0 1px;
				border-top: 1px solid var(--highlight);
				background: linear-gradient(var(--highlight-light), var(--highlight-light-light));
			}

			.axis-container {
				border-top: 2px solid #d9d9d9;
				padding-top: 3px;
				display: flex;
				align-items: center;
				justify-content: center;

				.axis {
					padding: 0 3px;
					border-radius: 3px;
					font-size: 10px;
					text-align: center;

					&.has-label {
						background-color: var(--green);
						color: white;
						font-weight: 700;
					}
				}
			}
		}
	}
}
