.main {
	height: 100%;
	display: flex;
	flex-direction: column;

	.main-content {
		margin: 5px 10px 15px 10px;
		flex: 1 1 0;
		overflow: hidden;
	}

	.main-footer {
		flex: 0 0 50px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background-color: lightgray;
		padding: 0 20px;
		font-size: 12px;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
	}
}
