.encounter-editor-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;

	.editor-content {
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		overflow-y: hidden;

		.stat-block-container {
			flex: 1 1 0;
			overflow-y: auto;
		}

		.editor-sidebar {
			flex: 1 1 0;
			overflow-y: auto;
		}
	}
}
