.power-panel {
	display: block;
}

.power-panel .top-line {
	display: flex;
	align-items: center;
}

.power-panel .top-line>* {
	margin-left: 4px;
}

.power-panel .power-icon {
	height: 20px;
	width: 20px;
}

.power-panel .description,
.power-panel .content {
	padding-left: 28px;
}

.power-editor-panel,
.aura-editor-panel,
.regeneration-editor-panel {
	flex: 1 1 0;
}
