.info-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
}

.info-panel.outlined,
.info-panel.clickable {
	border: 1px solid rgba(0, 0, 0, 0.23);
	padding: 5px 10px;
}

.info-panel.clickable {
	cursor: pointer;
	border-color: rgba(25, 118, 210, 0.5);
}

.info-panel.clickable:hover,
.info-panel.clickable:focus {
	border-color: rgb(25, 118, 210);
	background-color: rgba(25, 118, 210, 0.04);
}

.info-panel.selected {
	background-color: rgb(25, 118, 210) !important;
	color: white;
}

.info-panel .info-panel-content {
	flex: 1 1 auto;
}

.info-panel .info-panel-info {
	flex: 0 0 auto;
	padding-left: 5px;
	text-align: right;
	font-size: 13px;
	opacity: 0.6;
}

.info-panel .info-panel-actions {
	flex: 0 0 auto;
	margin-left: 10px;
	margin-right: -5px;
	border-left: 1px solid rgba(0, 0, 0, 0.23);
	padding-left: 5px;
}
