.info-panel {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;

	.info-panel-content {
		flex: 1 1 0;
	}

	.info-panel-info {
		flex: 0 0 auto;
		text-align: right;
		font-size: 13px;
		opacity: 0.6;
	}

	.info-panel-actions {
		flex: 0 0 auto;
	}
}
